ZD_SUBDOMAIN="your-org"
ZD_EMAIL="username@example.com"
ZD_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # ask your Zendesk admins for an API key
AGENT_ID="123456789012"  # numeric agent ID seen in the URL of the user profile page in Zendesk UI
